{% extends ('base.html.twig') %}

{% block nav %}
    <li><a href="{{ path('wish_add') }}" title="Add an idea">Add an idea</a></li>
    <li><a href="{{ path('wish_list') }}" title="Wish list">Idea list</a></li>
    <li><a href="{{ path('main_about-us') }}" title="About us">About us</a></li>
{% endblock %}
