body {
    width: 80%;
    height: 80%;
}

.logo {
    width: 100px;
    height: 100px;
}

main {
    margin-top: 50px;
}

footer {
    clear: both;
    position: relative;
    margin-top: 400px;
}

body{
    font-family: "Source code pro", Verdana, sans-serif;
}
