{% extends ('base.html.twig') %}
{% block pageName %} Add an idea {% endblock %}
{% block body %}
    {{ parent() }} <br>
    <div class="container-fluid">
        {{ form_start(wishForm, {attr: {'novalidate' : 'novalidate'}}) }}
        {{ form_widget(wishForm) }}
        <button class="btn btn-primary" type="submit">Send</button>
        {{ form_end(wishForm) }}
    </div>
{% endblock %}

