{% extends ('base.html.twig') %}
{% block pageName %} Idea list{% endblock %}
{% block nav %}
    <li><a href="{{ path('main_home') }}" title="GO back home">Home</a></li> <br>
    {% for idea in records %}
        <a href="{{ path('wish_detail', {id: idea.id}) }}" >{{ idea.title }}  </a> <br>
    {% endfor %}
{% endblock %}
