{% extends ('base.html.twig') %}

{% block body %}
    <div class="search-form-container">
        <form id="search-form" action="{{ path('wish_search') }}">
            <label for="wish-input">Search for an idea :</label>
            <input type="search" name="wish" id="wish-input" >
            <div id="idea-results-container"></div>
        </form>

        <script>
            //quand on écrit une lettre dans le champ
            $("#idea-input").on("keyup", function(){
                $.ajax({
                    url: $("#search-form").attr("action"),
                    data: {
                        "ideaName": $("#idea-input").val()
                    }
                })
                    .done(function(response){
                        console.log(response);
                        $("#idea-results-container").html(response);
                    });
            });
        </script>
    </div>

    <section class="pic-list">

        {% for idea in ideaName %}

            <p>{{ idea.title }}</p>

        {% endfor %}

    </section>
{% endblock %}